<div class="container">
  <h1>
    Coders<br>
    Against<br>
    Humanity<br>
  </h1>

  <p>
    Coming to the app store soon!
  </p>

  <div class="row">
    <div class="10 columns">
      <img
        src="/images/cah-page-1.png"
        alt="first page mock up"
      >
      <img
          src="/images/cah-page-2.png"
          alt="second page mock up"
      >
      <img
        src="/images/cah-page-3.png"
        alt="third page mock up"
      >
      <img
        src="/images/cah-page-4.png"
        alt="fourth page mock up"
      >
    </div>
  </div>

  <p>
    Enter your email to get an alert when Coders Against Humanity is available!
  </p>

  <input
    type="email"
    placeholder="name@domain.com"
  >
  </input>

  <a
    class="button button-white"
    href="#"
  >
    Get Updates
  </a>
</div>
