<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Coders Against Humanity</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <script src="https://use.fontawesome.com/7d1aa357f7.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">

</head>
<body>
  {{{body}}}
  <div class="container">
    <footer>
      <p> Visit us on GitHub! </p>

      <div class="row">
        <div class="one column" >
          <a href='github.com/imcgonigle/CAH-MVP'>
            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
          </a>
        </div>

        <div class="eleven columns">
          <section class="space-between">
            <li> <a href='github.com/creightonsoukup'>
              Creighton Soukup
            </a>

            <li> <a href='github.com/Jkim55'>
              Ji Kim
            </a>

            <li> <a href='github.com/imcgonigle'>
              Ian McGonigle
            </a>

            <li> <a href='github.com/catiecook'>
              Catie Cook
            </a>

            <li> <a href='github.com/stephen-knutter'>
              Stephen Knutter
            </a>
          </section>
        </div>
      </div>
    </footer>
  </div>

</body>
</html>
