body {
  background-color: #222;
  color: white;
}

p {
  color: white;
}

footer a:link {
  color: white;
}

a:link {
  color: black;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: white;
  padding-bottom: 2%;
}

input {
  width: 50%;
  margin-right: 2%;
}

.button-white {
  background-color: white;
  color: black;
}

.place-holder-box {
  width: 50%;
  height: 70%;
}

img {
  width: 22%;
  padding-bottom: 5%;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3%;
  width: 80%;
}
